TAGS
.libs/
.deps
autom4te.cache
autoscan.log
aclocal.m4
compile
config.guess
config.h
config.h.in
config.log
configure
configure.scan
depcomp
install-sh
*.lo
*.o
*.la
libtool
ltmain.sh
missing
stamp-h1
Makefile.in
config.status
config.sub
